{% extends 'base.html.twig' %}

{% block title %}Modifier l'objectif{% endblock %}

{% block body %}
        <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="width: 100%;">

        {% include 'SideBar.html.twig' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'TopBar.html.twig' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

    {{ form_start(form) }}
    <div class="mb-3">
        <label class="form-label">
            <i class="fas fa-align-left"></i> Description
        </label>
        {{ form_widget(form.Description, {'attr': {'class': 'form-control', 'placeholder': 'Décris ton objectif'}}) }}
        {{ form_errors(form.Description) }}
    </div>

    <div class="mb-3">
        <label class="form-label">
            <i class="fas fa-calendar-alt"></i> Date cible
        </label>
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.date) }}
    </div>

    <div class="mb-3">
        <label class="form-label">
            <i class="fas fa-clock"></i> Date de création
        </label>
        {{ form_widget(form.createdAT, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.createdAT) }}
    </div>

    <div class="mb-3">
        <label class="form-label">
            <i class="fas fa-heading"></i> Titre
        </label>
        {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l’objectif'}}) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="mb-3">
        <label class="form-label">
            <i class="fas fa-euro-sign"></i> Montant visé
        </label>
        {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder': 'Montant visé'}}) }}
        {{ form_errors(form.montant) }}
    </div>

            <a href="{{ path('app_objectifs_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>

    <button class="btn btn-primary">
        <i class="fas fa-save"></i> {{ button_label|default('Sauvegarder') }}
    </button>
{{ form_end(form) }}

{% endblock %}
